@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Oswald;
}

header{
    width: 100%;
}

/* Navbar START */

nav{
    width: 100%;
    position: fixed;
}

nav ul{
    display: flex;
    justify-content: space-around;

    align-items: center;
    padding: 10px;

    background-color: rgba(42, 42, 42, 0.538);
}

nav ul li{
    display: none;
    list-style: none;
}

nav ul .logo a img{
    min-width: 80px;
    max-width: 100px;

    max-height: 30px;
    object-fit: cover;
}

nav ul li a{
    color: white;
    text-decoration: none;

    
    padding: 0 0 14px 0;
    /* margin: 0 10px; */

    text-underline-offset: 7px;
}


nav ul li a:hover{
    text-decoration: underline #E43E83;
    text-decoration-thickness: 2px;
}


nav ul li a:nth-child(8), nav ul li a:nth-child(9), nav ul li a:nth-child(10){
    color: black;
    background-color: white;
    border-radius: 4px;

    padding: 3px 10px;
    text-decoration: none;
}

nav ul li a:nth-child(8):hover, nav ul li a:nth-child(9):hover, nav ul li a:nth-child(10):hover{
    color: white;
    background-color: #b1271d;
}

nav ul li a:last-child{
    box-shadow: 0 0 1px 1px white;
    padding: 3px 20px;
    background-color: unset;

    text-decoration: none;
}

nav ul li a:last-child:hover{
    background-color: #b1271d;
    border-radius: 4px;
    box-shadow: none;
}
/* Navbar END */


/* Hero START */
.hero {
    background-image: url('../img/header/hero/hero_1.jpg');
    background-size: cover;
    background-position: center;
}

.hero ul{
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.336);

    display: flex;
    justify-content: center;

    align-items: center;
}

.hero ul .wrap{
    text-align: center;

    max-width: 400px;
}

.hero ul .wrap h1{
    color: white;
    text-shadow: 1px 2px 1px #E43E83;
    font-size: 2.8rem;

    margin: 0 0 20px 0;
}

.hero ul .wrap a{
    font-size: 14px;

    color: black;
    background-color: #E43E83;

    text-decoration: none;
    padding: 4.5px 4px 6px 4.5px;

    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;


    border-left: 1px solid black;
    border-bottom: 1px solid black;

    transition: all ease-in 620ms;
}

.hero ul .wrap a:hover{
    color: white;
    border: 1px solid white;

    text-shadow: 1px 2px 1px black;
    transition: all ease-out 550ms;
}




/* Hero END */


/* background-image: url('https://t3.ftcdn.net/jpg/05/05/02/14/360_F_505021438_hJ3BdC569Rgw2y6bNLla07gtjwAVCfYm.jpg');
background-size: cover; */







/* Responsive */
@media (max-width: 567px) {
    nav ul li{
        display: none;
    }

    .hero ul{
        height: 100vh;
    }
}

@media (min-width: 577px) and (max-width: 1023px) {
    nav ul li{
        display: none;
    }

    .hero ul{
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    nav ul li{
        display: block;
    }

    nav ul li a{
        margin: 0 10px 0 0;
    }
}
/* Responsive */